*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
.aLinks a
{
    color: black;
    transition: all 0.5s;
    text-decoration: underline;
}
.aLinks :hover
{
    background-color: black;
    color: white;
}
button,input:not(input[type="radio"]){
    border-radius: 0 !important;
    box-shadow: none !important;
}
