<footer id="footer">
  <div id="desktop">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="footer__newsletter-area--subscribe-area">
              <div class="title-product h2">Inscris-toi pour recevoir nos dernières actus</div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="btn-news">
              <button class="newsletter-subscribe-button btn">
                s'inscrire à la newsletter<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
                    stroke-width="2" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="">
          <div class="content-footer">
            <div class="footer-upper">
              <div class="footer-block products">
                <div class="title">
                  <div class="h5">Produits</div>
                </div>
                <ul class="list">
                  <li><a href="s/193/chaussures-footer.html">Chaussures </a></li>
                  <li><a href="s/172/vetements.html">Vêtements </a></li>
                  <li><a class="mb-10" href="s/91/accessoires.html">Accessoires </a></li>
                </ul>
              </div>
              <div class="footer-block sports">
                <div class="title">
                  <div class="h5">Sports</div>
                </div>
                <ul class="list">
                  <li><a href="s/75/football.html">Football </a></li>
                  <li><a href="fitness-training.html">Fitness & Training </a></li>
                  <li><a href="s/71/running.html">Running </a></li>
                  <li><a href="s/169/basketball.html">Basketball </a></li>
                </ul>
              </div>

              <div class="footer-block collections">

                <div class="title">

                  <div class="h5">Collections</div>

                </div>

                <ul class="list">

                  <li><a href="s/69/originals.html">Originals </a></li>

                  <li><a href="ultraboost_22.html">Ultraboost </a></li>

                  <li><a href="recherche2105.html?controller=search&amp;s=NMD">NMD </a></li>

                  <li><a href="recherche9d02.html?controller=search&amp;s=superstar">Superstar </a></li>

                  <li><a href="stan-smith.html">Stan Smith </a></li>

                  <li><a href="continental.html">Continental 80 </a></li>

                </ul>

              </div>

              <div class="footer-block support">

                <div class="title">

                  <div class="h5">Assistance</div>

                </div>

                <ul class="list">

                  <li><a href="content/category/2-aide.html" target="_blank">Aide </a></li>
                  <li><a href="nous-contacter.html" target="_blank">Contactez-nous</a></li>

                  <li><a href="content/category/2-aide.html" target="_blank">Retours et remboursements </a></li>

                  <li><a href="content/category/2-aide.html" target="_blank">Livraison </a></li>

                  <li><a href="size_charts.html" target="_blank">Tableaux des tailles </a></li>

                  <li><a href="plan-site.html" target="_blank">Sitemap </a></li>

                </ul>

              </div>

              <div class="footer-block company-info">

                <div class="title">

                  <div class="h5">Informations d'entreprise</div>

                </div>

                <ul class="list">

                  <li><a href="https://www.adidas-group.com/en/" target="_blank" rel="noreferrer">Qui sommes-nous?
                    </a></li>

                  <li><a href="https://careers.adidas-group.com/" target="_blank" rel="noreferrer">Emploi </a></li>

                  <li><a href="https://news.adidas.com/" target="_blank" rel="noreferrer">Presse </a></li>

                  <li><a href="content/category/2-aide.html">Informations générales</a></li>

                </ul>

              </div>

            </div>

          </div>



        </div>

        <div class="row">







        </div>

      </div>

      <div class="footer-lower">
        <div class="container">
          <div class="footer-copright-area">
            <div class="footer-info">
              <div class="footer__country-selector">

                <img class="loaded" alt="israel flag" title="Egypt" width="20" height="13" src="img/morocco-flag-xs.png"
                  style="">
                <span>Maroc</span>

              </div>
            </div>
            <div class="footer-other-links ss2">
              <ul>
                <li>
                  <a target="_blank" href="connexionfd9a.html?back=my-account">Gérer les Données </a>
                </li>
                <li>
                  <a id="show-coockiess" href="content/84-politique-de-cookies.html">Cookies </a>
                </li>
                <li>
                  <a href="content/10-avis-de-confidentialite.html" target="_blank">Avis de confidentialité </a>
                </li>
                <li>
                  <a href="content/82-conditions-generales-de-vente.html" target="_blank">Conditions générales de
                    vente </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="responsive">
    <div class="back-top">
      <a href="#notifications"><i class="far fa-chevron-up"></i> Haut de la page</a>
    </div>
    <div class="bk-user">

      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <div class="block-user-login">
            <a href="connexionfd9a.html?back=my-account">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24">
                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                  <path d="M19 20.5L15.63 16H4.38L1 20.5" />
                  <circle cx="10" cy="8.5" r="4.5" />
                </g>
              </svg>
              Connexion
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="block-user-cart">
            <div id="_desktop_cart">
              <div class="blockcart cart-preview inactive"
                data-refresh-url="//adidas.co.ma/module/ps_shoppingcart/ajax">
                <div class="header">

                  <img src="img/bag-inactive.svg" width="24" height="24">
                  <span class="cart-products-count">0</span>
                </div>
              </div>

            </div>
            <div id="res">
              <div class="blockcart cart-preview inactive"
                data-refresh-url="//adidas.co.ma/module/ps_shoppingcart/ajax">
                <div class="header">

                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 24">
                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                      <path d="M1 7h14v14H1z"></path>
                      <path d="M11 10V3H5v7"></path>
                    </g>
                  </svg>
                  Ton panier (0)
                </div>
              </div>
            </div>
            <script>
              var selectorValidateBeforePayment = "#payment-confirmation .btn";
              var ajaxLinkValidateBeforePayment = "module/validateorderbeforepayment/ajaxc941.html?action=initContent";
            </script>

          </div>
        </div>
      </div>

    </div>
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-md-6">

            <div class="footer__newsletter-area--subscribe-area">

              <div class="title-product h2">Inscris-toi pour recevoir nos dernières actus</div>

            </div>

          </div>

          <div class="col-md-6">

            <div class="btn-news">

              <button class="newsletter-subscribe-button btn">
                s'inscrire à la newsletter<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
                    stroke-width="2" />
                </svg>

              </button>

            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="footer-mobile">
      <ul class="rows">
        <li class="footer-mobile-item">
          <a href="content/category/2-aide.html">Livraison</a>
        </li>
        <li class="footer-mobile-item">
          <a href="nous-contacter.html">Contactez-nous</a>
        </li>
        <li class="footer-mobile-item">
          <a href="content/category/2-aide.html">Retours et remboursements</a>
        </li>
        <li class="footer-mobile-item">
          <a href="content/category/2-aide.html">Paiement</a>
        </li>
        <li class="footer-mobile-item">
          <a href="content/category/2-aide.html">Aide</a>
        </li>
        <li class="footer-mobile-item">
          <span class="load_link" data-link="/historique-commandes">Suivi De Commande</span>
        </li>
      </ul>
    </div>
    <div class="footer-lower">
      <div class="container">
        <div class="footer-copright-area">
          <div class="footer-info">
            <div class="footer__country-selector">
              <a href="index.html" aria-label="Maroc" title="Maroc">
                <img class="loaded" alt="israel flag" width="20" height="13" title="Maroc" src="img/morocco-flag-xs.png"
                  style="">
                <span>Morocco</span>
              </a>
            </div>
          </div>
          <div class="footer-other-links ss1">
            <ul>
              <li>

                <a target="_blank" href="connexionfd9a.html?back=my-account">Gérer les Données </a>
              </li>
              <li>
                <a id="show-coockiess" target="_blank" href="content/84-politique-de-cookies.html">Cookies </a>
              </li>
              <li>
                <a href="content/10-avis-de-confidentialite.html" target="_blank">Avis de confidentialité </a>
              </li>
              <li>
                <a href="content/82-conditions-generales-de-vente.html" target="_blank">Conditions générales de
                  vente </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <script src="../cdn.jsdelivr.net/npm/vanilla-lazyload%4017.5.0/dist/lazyload.min.js"></script>
  <script type="text/javascript">
    $(function () {
      var lazyLoadInstance = new LazyLoad();
    });
  </script>


  <script>

    function loadZendeskWidget() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.id = 'ze-snippet';
      script.async = true;
      script.src = '../static.zdassets.com/ekr/snippet7e78.js?key=03d196d5-288c-480b-8ae6-8270dc2244bb';
      document.getElementsByTagName('head')[0].appendChild(script);
    };

    $(function () {

      var lastScroll = 0;

      $(window).scroll(function () {

        if (lastScroll == 0) {
          loadZendeskWidget();
          lastScroll = 1;
        }

      });

    });

  </script>

  <script type="text/javascript">
    $(".back-top a").click(function () {
      id = $(this).attr("href")
      $('html, body').animate({
        scrollTop: $(id).offset().top
      }, 700);
    });
  </script>

</footer>